{% extends 'base.html.twig' %}

{% block body %}
    <!DOCTYPE HTML>
    <html class="intro" lang="en">
        <head>
            <meta charset="UTF-8">
            <title>Le Perce-Oreille</title>
        </head>
        <body>
        <article class="santa">
            <h1>Bienvenue</h1>
                <p>Le grand froid de l'Hiver souffle dans la vallée.</p>
                <p>Pourtant tous les habitants sont heureux.</p>
                <p>Tout cela, à cause d'un vieil homme, vêtu de rouge... Un certain Perce-Oreille</p>
            <h3>Ton objectif est simple, Jack : kindnappe le Perce-Oreille et prendre sa place, pour un Noël réussi !</h3>
                <p>Comment faire cela ? Suit les instructions suivantes, et tu pourras devenir le prochain Perce-Oreille !</p>
                        <li>Vous allez devoir trouver le Perce-Oreille. Pour cela, vous allez devoir trouver des indices afin de résoudre les différentes énigmes dissimulées et passer à la pièce suivante.</li>
                        <li>Pour trouver les indices, vous allez devoir fouiller la pièce. Passez votre souris sur les différents éléments et cliquez dessus. Qui sait quelles informations peuvent-ils renfermer ?</li>
                        <li>Certaines informations ne seront pas forcément utiles</li>
                        <li>Résolvez les énigmes et deviens le prochain Perce-Oreille !</li>
                <h3>Bon courage Jack, et sauve Noël !</h3>
                <img class ="jack" src="https://bitchenstickerz.com/wp-content/uploads/2018/03/nightmarebeforechristmas-Jack.jpg">
        </article
        </body>
    </html>
{% endblock %}
