{% extends 'base.html.twig' %}

{% block body %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Document</title>
</head>
    <body class="lvl1">
        <a class="porteAtelier" href="/game/toyshop/interieur"></a>    


    </body>
</html>
{% endblock %}
