{% extends 'base.html.twig' %}

{% block body %}
<div class="chalet">
    <a class="porte" href="/game/palier"></a>
    <a href="/game/toyshop"><img class="flecheLeft" src="https://i.goopics.net/KLAx3.png"></a>
    <a href="/game/shambles"><img class="flecheRight" src="https://i.goopics.net/VZ7K9.png"></a>
    <img class="inventaire" src="https://i.goopics.net/av7bp.jpg">
    <div>

    </div>
</div>
{% endblock %}
