{% extends 'base.html.twig' %}

{% block body %}
<html lang="en">
<head>
   <meta charset="UTF-8">
   <title>Document</title>
</head>
    <body class="lvl0">







    </body>
</html>
{% endblock %}
