{% extends 'base.html.twig' %}

{% block body %}
<div class="lvl2">
        <a href="/game/toyshop"><img class="flecheLeft" src="https://i.goopics.net/KLAx3.png"></a>
        <a href="/game/shambles"><img class="flecheRight" src="https://i.goopics.net/VZ7K9.png"></a>
</div>
{% endblock %}
