{% extends 'base.html.twig' %}

{% block body %}

<div class="atelier">
    <a class="porteAtelier" href="/game/toyshop/interieur"></a>
    <a href="/game/toyshop"><img class="flecheLeft" src="https://i.goopics.net/KLAx3.png"></a>
    <a href="/game"><img class="flecheRight" src="https://i.goopics.net/VZ7K9.png"></a>
</div>

{% endblock %}
