.lvl0 {
    background-image: url('https://i.goopics.net/GLwd1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.lvl1 {
    background-image: url('https://i.goopics.net/9jovw.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
