body {
    background-color: lightgray;
    opacity: 0,4;
}



.intro{
    background-image: url(https://i.ytimg.com/vi/IYg70N2vSkg/maxresdefault.jpg);
    background-size: cover;
}

.santa{
    text-align: center;
}

.jack{
    height: 10%;
    width: 10%;
    border-radius: 50%
}
