{% extends 'base.html.twig' %}
{% block body %}
    <section class="entree_main-part">
    <div class="cheminee_main"></div>
    </section>
        <section class="bottom-menu">
        <p class="search-info-paragraph">On a retrouvé le chat du Perce-Oreille !</p>
        <a class="to-lobby" href="{{ path('game_salon') }}" title="Vers l'étage">Revenir au salon</a>
    </section>
{% endblock %}