{% extends 'base.html.twig' %}
{% block body %}
    <section class="entree_main-part">
    <div class="crochet_main"></div>
    </section>
        <section class="bottom-menu">
        <p class="search-info-paragraph">Qu'à-t-il pu bien suspendre à ce crochet ?</p>
        <a class="to-lobby" href="{{ path('game_etage') }}" title="Vers l'étage">Revenir à l'étage</a>
    </section>
{% endblock %}