{% extends 'base.html.twig' %}
{% block body %}
    <section class="entree_main-image">
        <a class="to-living-room" href="" title="Vers le salon">Salon</a>
        <a class="to-first-floor"href="{{ path('etage') }}" title="Vers le 1er étage">Escalier</a>
    </section>
    <section class="bottom-menu">
        <p class="search-info-paragraph">Où peut bien se trouver le Perce-Oreille ?</p>
    </section>
{% endblock %}