{% extends 'base.html.twig' %}
{% block body %}
    <section class="entree_main-part">
        <div class="loupe_main">
        <img class="rebus" src="https://image.noelshack.com/fichiers/2019/51/3/1576690423-rebus.jpg">
        </div>
    </section>
        <section class="bottom-menu">
        <p class="search-info-paragraph">Qu'est-ce que ça peut bien vouloir dire ?</p>
        <a class="to-lobby" href="{{ path('game_etage') }}" title="Vers l'entrée">Revenir à l'étage</a>
    </section>
{% endblock %}