{% extends 'base.html.twig' %}
{% block body %}
    <section class="entree_main-part">
        <div class="salon_main-image">
            <a class="sapin" href="{{ path('game_wc') }}">WC</a>
            <a class="loupe"href="{{ path('game_cuisine') }}">Cuisine</a>
            <a class="cheminee" href="{{ path('game_cheminee') }}">Cheminée</a>
        </div>
    </section>
    <section class="bottom-menu">
        <p class="search-info-paragraph">Pas de Perce-Oreille ici... Mais peut-être un indice ?</p>
        <a class="to-lobby" href="{{ path('game_palier') }}" title="Vers l'entrée">Revenir à l'entrée</a>
    </section>
{% endblock %}