{% extends 'base.html.twig' %}
{% block body %}
    <section class="sapin_main">
    </section>
        <section class="bottom-menu">
        <p class="search-info-paragraph">On croirait distinguer des traces de pas au loin... Le Perce-Oreilles serait-il passé par là ?</p>
        <a class="to-lobby" href="{{ path('game_etage') }}" title="Vers l'entrée">Revenir à l'étage</a>
    </section>
{% endblock %}